In [1]:
#Importing the library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import ticker
import pycountry_convert as pc
import folium
from datetime import datetime, timedelta,date
from scipy.interpolate import make_interp_spline, BSpline
import plotly.express as px
import plotly.graph_objs as go
import json
import plotly.offline as py
import seaborn as sns
plt.style.use('fivethirtyeight')

In [2]:
# Global Data
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
recoveries_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [3]:
# day start from 1/22/20 to 8/4/21

cols = confirmed_df.loc[:,:'8/4/21'].keys()
confirmed_df = confirmed_df.loc[:,:'8/4/21']
deaths_df = deaths_df.loc[:, :'8/4/21']
recoveries_df = recoveries_df.loc[:,:'8/4/21']
dates = confirmed_df.loc[:,cols[4]:].keys()

total_confirmed = []
total_deaths = []
mortality_rate = []
recovery_rate = []
total_recoveries = []
total_active = []
adjusted_dates = list(np.array([i for i in range(len(dates))]).reshape(-1,1)[:,0])

In [5]:
total_confirmed = np.array(confirmed_df.iloc[:,4:].sum())
total_deaths = np.array(deaths_df.iloc[:,4:].sum())
total_recoveries = np.array(recoveries_df.iloc[:,4:].sum())
total_active = total_confirmed - total_deaths - total_recoveries

In [6]:
print("Total confirmed cases: ", total_confirmed[-1])
print("Total death cases: ", total_deaths[-1])
print("Total recoveries cases: ", total_recoveries[-1])
print("Total active cases: ", total_active[-1])

Total confirmed cases:  200758588
Total death cases:  4283016
Total recoveries cases:  130899061
Total active cases:  65576511

In [7]:
df_total = pd.DataFrame(zip(total_confirmed,total_deaths,total_recoveries,total_active),
                        index = adjusted_dates,
                        columns = ['total_confirmed','total_deaths','total_recoveries','total_active'])

In [10]:
df_total.set_index('total_confirmed',inplace = True)

In [11]:
df_total

                 total_deaths  total_recoveries  total_active
total_confirmed
557                        17                30           510
657                        18                32           607
944                        26                39           879
1437                       42                42          1353
2120                       56                56          2008
...                       ...               ...           ...
198389684             4246601         129705211      64437872
198872752             4254020         129994389      64624343
199443855             4262171         130277533      64904151
200078130             4272524         130582001      65223605
200758588             4283016         130899061      65576511

[561 rows x 3 columns]

In [12]:
df_total.to_csv('covid_19.csv')